.btn-purple {
    background-color: #6C63FF;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

/* Add this to your existing styles or create a new CSS file */
.custom-navbar {
    background-image: url('../images/banner.svg'); /* Update with your image path */
    background-size: cover;
    min-height: 150px;
    border: 0 !important;
}

.navbar-brand img {
    max-height: 130px; /* Set the max height for the logo */
}